# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
env/
venv/
.env
.venv/

# Environment variables
*.env
.env.*

# Flask
instance/
.webassets-cache

# MongoDB / data files
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
